#what .items {
  display: block;
  padding: 1rem;
}

/*  Align icon to left  */
/* #what .items .item {
  display: flex;
  text-align: left;
}  */

/* Posistion icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  #navbar ul {
    padding: 0.5rem;
  }
  #showcase .showcase-content {
    top: 110px;
    /* margin-top: -2rem; */
  }
  #about {
    display: block;
  }
  #about .about-img {
    display: none;
  }
  #client .item img {
    width: 60%;
  }
  #client .items div:last-child {
    display: none;
  }
  #contact {
    display: flex;
    /* flex-direction: column; */
  }

  #contact .map {
    min-height: 200%;
    border-top: 3px solid #333;
  }

  @media (max-height: 568px) {
    /* #showcase .showcase-content { */
    top: 110px;
    /* margin-top: -2rem; */
  }
  .l-heading {
    font-size: 3 rem;
  }
  .lead {
    font-size: 1 rem;
  }
}
