@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
p {
  margin: 0, 75rem 0;
}

/* Utility classes */

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0rem 2rem;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: #7ab436;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #fff;
}
.bg-primary {
  background: #93cb52;
  color: #fff;
}
.l-heading {
  font-size: 3rem;
  margin-bottom: 0, 75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0, 65rem;
  line-height: 1.1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.lead {
  font-size: 1.3 rem;
  margin-bottom: 2 rem;
}
.py-1 {
  padding: 1.5rem 0;
  display: flex;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn {
  display: inline-block;
  background: #93cb52;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: #7ab436;
}
.btn-dark {
  background: #333;
  color: #fff;
}

/* navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}
/* showcase */
#showcase {
  background: #333 url("../img/background.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  /* position: relative; */
}
#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2 rem;
  /* overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333 (0, 0, 0, 4);
}
/* section-what we have  */

#what .items {
  display: flex;
  padding: 1rem;
}
/* #what item h3 {
  min-width: 7.5rem;
} */

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* section:about */
#about {
  display: flex;
}
#about div {
  flex: 1;
  flex-basis: 50%;
}
#about .about-img {
  background: url("../img/logo.jpg") no-repeat center center/cover;
}

/* section: clients */
#clients .items {
  display: flex;
}
#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* section:contact */
#contact {
  display: flex;
}
#contact .map,
#contact .contact-form {
  flex: 1;
  flex-basis: 50%;
}
/* #contact .contact-form .form-group {
  margin: 0 0.6rem:
} */
#contact .contact-form label {
  display: block;
}
#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
